<div class="container" align="center">
  <div class="jumbotron">
  <div class="login_form">
    <div class="inner">
      <form class="form-signin" align="center">
        <div class="text-center mb-4">
          <h2 class="h3 mb-3 font-weight-normal">Talents3</h2>
        </div>

        <div class="form-group">
          <input id="id_email" type="email" name="email" placeholder="E-mail address" class="form-control" value="">
        </div>

        <div class="form-group">
          <input id="id_password1" name="password1" type="password" placeholder="Password" class="form-control" value="">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        <p class="mt-5 mb-3 text-muted text-center">copyright {{footer}} ©</p>
      </form>
  </div>
</div>
</div>
</div>
