<div class="content-body">
<div class="page-body bg-gray">
<div class="container">
  <div class="row">
    <div class="col-xx-2 col-lg-10 m-x-auto">
      <section class="card card-lg">
        <h1 class="text-xxxl" align="center">- Our Mission -</h1>
        <p class="text-sm" align="center">To provide the most actionable app store data.</p>
        <h2 class="text-xxxl" align="center">- About -</h2>
        <div class="text-xs"><p class="m-b-xs">At Apptopia, we all come to work every day because we want to solve the biggest problem in mobile. <b>Everyone is guessing</b>. Publishers don’t know what apps to build, how to monetize them, or even what to price them at. Advertisers &amp; brands don’t know where their target users are, how to reach them, or even how much they need to spend in order to do so. Investors aren’t sure which apps and genres are growing the quickest, and where users are really spending their time (and money).</p><p class="m-b-xs">Throughout the history of business, people use <b>data</b> to make more informed decisions. Our mission at Apptopia is to make the app economy more transparent. Today we provide the most actionable mobile app data &amp; insights in the industry. We want to make this data available to as many people as possible (not just the top 5%).</p></div>
      </section>

      <section class="card card-lg">
        <h1 class="text-xxxl" align="center">- Authors -</h1>
        <br/>
        <div class="text-xs"><p class="m-b-xs">At Apptopia, we all come to work every day because we want to solve the biggest problem in mobile. <b>Everyone is guessing</b>. Publishers don’t know what apps to build, how to monetize them, or even what to price them at. Advertisers &amp; brands don’t know where their target users are, how to reach them, or even how much they need to spend in order to do so. Investors aren’t sure which apps and genres are growing the quickest, and where users are really spending their time (and money).</p><p class="m-b-xs">Throughout the history of business, people use <b>data</b> to make more informed decisions. Our mission at Apptopia is to make the app economy more transparent. Today we provide the most actionable mobile app data &amp; insights in the industry. We want to make this data available to as many people as possible (not just the top 5%).</p></div>
      </section>

    </div>
  </div>
  </div>
</div>
</div>
