<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="image-aboutus-banner">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">About Us</h1>
         <p class="image-aboutus-para">Talents3 Team</p>
       </div>
    </div>
</div>
</div>
<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
                	<div class="col-md-6">
                    	<h1 class="strong">Who we are and<br>what we do</h1>
                        <p class="lead">This is a website for everyone</p>
                    </div>
                    <div class="col-md-6">
                    	<p>A single-page web application with Angular6 frontend framework, NodeJs and Express backend server and online MongoDB database </p>
                      <p>Check this web-app project at <a href="https://github.com/Talents3/TalentsWeb"> https://github.com/Talents3/TalentsWeb </a></p>
                    </div>
</div>
    </div>
</div>
<div class="container team-sektion paddingTB60">
	<div class="row">
		<div class="site-heading text-center">
						<h3>Our Team</h3>
            <p>{{teamDescription}}</p>
						<div class="border"></div>
					</div>
	</div>
	<div class="row">
		<div class="col-md-4 team-box">
		    <div class="team-img thumbnail">
		        <img class="center" style="border-radius: 50%; width: 50%;height: 50%; " src="assets/images/defaultImage.png">
		    <div class="team-content">
		        <h3>Youxing Gao</h3>
		        <div class="border-team"></div>
            <p>{{youxingDescription}}</p>
		    </div>
		</div>
	</div>
	    <div class="col-md-4 team-box">
		    <div class="team-img thumbnail">
            <img class="center" style="border-radius: 50%; width: 50%;height: 50%; " src="assets/images/defaultImage.png">
		    <div class="team-content">
		        <h3>Rui Zhang</h3>
		        <div class="border-team"></div>
            <p>{{ruiDescription}}</p>
		    </div>
		</div>
	</div>
	    <div class="col-md-4 team-box">
		    <div class="team-img thumbnail">
            <img class="center" style="border-radius: 50%; width: 50%;height: 50%; " src="assets/images/defaultImage.png">
		    <div class="team-content">
		        <h3>Haiyang Wang</h3>
		        <div class="border-team"></div>
		        <p>{{haiyangDescription}}</p>
		    </div>
		</div>
	</div>

</div>
</div>

<div class="row">
		<div class="col-sm-12 text-center ">
				<div class="copyright-text">
						<p>CopyRight © 2018 Talents3 All Rights Reserved</p>
				</div>
		</div> <!-- End Col -->
</div>
