<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="image-aboutus-banner">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">About Us</h1>
         <p class="image-aboutus-para">Talents3 Team</p>
       </div>
    </div>
</div>
</div>
<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
                	<div class="col-md-6">
                    	<h1 class="strong">Why we build this?</h1>
                        <p class="lead">As new graduates in engineering, we know how difficult for new grads to find jobs. So we build this  web to help more students and make their life easier. By using our system, once you have registered and updated your profile page, you are all set. Our system will match you skills, education, and experiences with thoundsand of positions, and send your profile to their recruiters and human resources managers.</p>
                    </div>
                    <div class="col-md-6">
                    	<h1 class="strong">Technology field</h1>
                    	<p class="lead">A single-page web application with Angular6 frontend framework, NodeJs and Express backend server and MongoDB database </p>
                      <p class="lead">As an open source project, every one can check this web-app project at <a href="https://github.com/Talents3/TalentsWeb"> https://github.com/Talents3/TalentsWeb </a></p>
                    </div>
</div>
    </div>
</div>
<div class="container team-sektion paddingTB60">
	<div class="row">
		<div class="site-heading text-center">
						<h3>Our Team</h3>
            <p>Three new graduate students from NYU.</p>
						<div class="border"></div>
					</div>
	</div>
	<div class="row">
		<div class="col-md-4 team-box">
		    <div class="team-img thumbnail" style="background-image: url('assets/images/beach.jpg');">
		        <img class="center" style="border-radius: 50%; width: 175px;height: 175px; " src="assets/images/profile_pic.jpg">
		    <div class="team-content">
		        <h3>Youxing Gao</h3>
		        <div class="border-team"></div>
            <p>Youxing's description</p>
		    </div>
		</div>
	</div>
	    <div class="col-md-4 team-box">
		    <div class="team-img thumbnail" style="background-image: url('assets/images/bulewall.jpg');">
            <img class="center" style="border-radius: 50%; width: 175px;height:175px; " src="assets/images/RuiZhang.jpg">
		    <div class="team-content">
		        <h3>Rui Zhang</h3>
		        <div class="border-team"></div>
            <p>niubi</p>
		    </div>
		</div>
	</div>
	    <div class="col-md-4 team-box">
		    <div class="team-img thumbnail" style="background-image: url('assets/images/background.png');">
            <img class="center" style="border-radius: 50%; width: 175px;height: 175px; " src="assets/images/houzi.jpg">
		    <div class="team-content">
		        <h3>Haiyang Wang</h3>
		        <div class="border-team"></div>
		        <p>niubi</p>
		    </div>
		</div>
	</div>

</div>
</div>

<div class="row">
		<div class="col-sm-12 text-center ">
				<div class="copyright-text">
						<p>CopyRight © 2018 Talents3 All Rights Reserved</p>
				</div>
		</div> <!-- End Col -->
</div>
