<body>

<!-- editIntro modal -->
<div class="modal fade" id="editIntroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Edit Intro Card</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <form  id = "editIntroForm">
          <div class="form-group">
              <div class="row" align="left" *ngIf = "uploader" style="margin: 0px;">
                <input type="file" class = "left" name="photo" ng2FileSelect [uploader]="uploader" />     <!-- upload a image file -->
                <button type="button" class="btn btn-primary"
                    (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length" >
                        Upload Profile Image
                </button>
              </div>
	            <label for="username" class="col-form-label" align = "left">Full Name:</label>
	            <input type="text" class="editIntro form-control" name="username"   [(ngModel)]="editIntroCardData.username">
              <label for="address" class="col-form-label" align = "left">City and Country:</label>
              <input type="text" class="editIntro form-control" name="address"   [(ngModel)]="editIntroCardData.address">
	            <label for="age" class="col-form-label" align = "right">Age:</label>
	            <input type="number" class="editIntro form-control" name="age" align="right"  min = "1" max = "120"
           [(ngModel)]="editIntroCardData.age">
                <label for="phone" class="col-form-label" align = "left">Phone Number:</label>
	            <input type="text" class="editIntro form-control" name="phone"  maxlength="10" size="13"  [(ngModel)]="editIntroCardData.phone">
          </div>
          <label class="col-form-label" align = "left">Gender</label>
          <select #selectElemIsMale (change)="setIsMale(selectElemIsMale.value)" >
          	  <option>plese select</option>
			  <option [value]="true"> Male</option>
			  <option [value]="false"> Female</option>
		  </select>
		  <label class="col-form-label" align = "left">Are you  a new Grad?</label>
		  <select #selectElemIsNewGrad (change)="setNewGrad(selectElemIsNewGrad.value)" >
		  	  <option>plese select</option>
			  <option [value]="true">New Grad</option>
			  <option [value]="false">No</option>
		  </select>
		  <label class="col-form-label" align = "left">Do You Need Visa Sponsorship?</label>
          <select #selectElem (change)="setVisa(selectElem.value)" >
          	  <option>plese select</option>
			  <option [value]="true">Yes I Do</option>
			  <option [value]="false">No Need</option>
		  </select>

          <div class="form-group">
            <label for="description" class="col-form-label">One Line Description:</label>
            <textarea class="editIntro form-control" name="description" maxlength="80" placeholder="Type your description within 80 characters" [(ngModel)]="editIntroCardData.description"></textarea>
          </div>
          <div class="modal-footer">
          	<button type="submit" name = "editEducation" class="btn btn-primary" data-dismiss = "modal" (click) = "editIntroCard()">Save</button>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div> -->
    </div>
  </div>
</div>



  <!-- now need to start to build the image and contact info division -->

  <!-- Edit Education Modal -->

  <div class="modal fade bd-example-modal-lg" id="editEducationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="user">
    <div class="modal-dialog" role="document" *ngIf="selectedEducation">
      <div class="modal-content" *ngIf="selectedEducation">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel" *ngIf="!isAddingEducation">Edit Education</h3>
          <h3 class="modal-title" id="exampleModalLabel" *ngIf="isAddingEducation">Add Education</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="selectedEducation">
          <div *ngIf="selectedEducation.universityName">
            <h5 class="modal-title" style="float:left;">{{selectedEducation.universityName}}</h5>
            <br/>
            <br/>
          </div>
          <form *ngIf="selectedEducation">
            <div class="form-group">   <!-- transcript upload button -->
              <div class="row" align="left" *ngIf = "transcriptUploader" style="margin: 0px;">
                <input type="file" class = "left" name="transcrpt" ng2FileSelect [uploader]="transcriptUploader" />     <!-- upload a image file -->
                <button type="button" class="btn btn-primary"
                    (click)="transcriptUploader.uploadAll()"
                    [disabled]="!transcriptUploader.getNotUploadedItems().length" >
                        Upload Transcript
                </button>
              </div>
              <label for="universityName" class="col-form-label">University Name:</label>
              <input type="text" class="form-control" name="universityName" maxlength="80" [(ngModel)]= "selectedEducation.universityName">
              <label for="startDate" class="col-form-label">Start Date:</label>
              <input type="Date" class="form-control" name="startDate" [(ngModel)]= "selectedEducation.startDate">
              <label for="enddate" class="col-form-label">End Date:</label>
              <input type="Date" class="form-control" name="enddate" [(ngModel)]= "selectedEducation.endDate">
              <label for="major" class="col-form-label">Major:</label>
              <input type="text" class="form-control" name="major" [(ngModel)]= "selectedEducation.major">
              <label for="degree" class="col-form-label">Degree Type:</label>
              <input type="text" class="form-control" name="degree" [(ngModel)]= "selectedEducation.degreeType">

              <label for="gpa" class="col-form-label">GPA:</label>
              <input type="number" class="form-control" name="gpa" [(ngModel)]= "selectedEducation.gpa">
              <label for="courses" class="col-form-label">Courses:</label>
              <button type="button" class=" btn btn-outline-secondary btn-sm float-right" align="center" (click)="addCourse()"><img class="float-right" style="width: 50%;height: 50%; " src="assets/images/add-icon.png"></button>&nbsp;

              <div *ngFor="let selectedCourse of selectedEducation.courses;let index = index;">
                <div class="courseContent">
                            <input type="text" class="form-control" id="courseContent" name="courseName-{{index}}" placeholder="course name" [(ngModel)]= "selectedCourse.courseName">&nbsp;&nbsp;
                            <input type="text" class="form-control" id="courseContent" name="courseCode-{{index}}" placeholder="course code" [(ngModel)]= "selectedCourse.courseCode">&nbsp;&nbsp;
                            <input type="text" class="form-control" id="courseContent" name="courseGrade-{{index}}" placeholder="course grade" [(ngModel)]= "selectedCourse.courseGrade">&nbsp;
                            <button class=" btn btn-outline-secondary btn-sm" align="center" (click)="deleteCourse(selectedEducation.courses[index])"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/delete-icon.png"></button>
                </div>
              </div>
              <div *ngFor="let addedCourse of addedCourses;let index = index;">
                <div class="courseContent">
                            <input type="text" class="form-control" id="courseContent" name="addedCourseName-{{index}}" placeholder="course name" [(ngModel)]= "addedCourse.courseName">&nbsp;&nbsp;
                            <input type="text" class="form-control" id="courseContent" name="addedCourseCode-{{index}}" placeholder="course code" [(ngModel)]= "addedCourse.courseCode">&nbsp;&nbsp;
                            <input type="text" class="form-control" id="courseContent" name="addedCourseGrade-{{index}}" placeholder="course grade" [(ngModel)]= "addedCourse.courseGrade">&nbsp;
                            <button class=" btn btn-outline-secondary btn-sm" align="center" (click)="deleteAddedCourse(addedCourse)"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/delete-icon.png"></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color:#FF0000; float: left;" (click)= "deleteEducation(selectedEducation)" *ngIf="!isAddingEducation">Delete</button>
          <button type="button" class="btn btn-primary" (click)= "readCourses()">read</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)= "saveEducation(selectedEducation)">Save</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="editExperienceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="user">
  <div class="modal-dialog" role="document" *ngIf="selectedExperience">
    <div class="modal-content" *ngIf="selectedExperience">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Edit Experience</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedExperience">
        <div *ngIf="selectedExperience.companyName">
          <h5 class="modal-title" style="float:left;">{{selectedExperience.companyName}}</h5>
          <br/>
          <br/>
        </div>
        <form *ngIf="selectedExperience">
          <div class="form-group">
            <label for="companyName" class="col-form-label">Company Name:</label>
            <input type="text" class="form-control" name="companyName" [(ngModel)]= "selectedExperience.companyName">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" name="title" [(ngModel)]= "selectedExperience.title">

            <label for="title" class="col-form-label">Skills:</label>
            <button type="button" class=" btn btn-outline-secondary btn-sm float-right" align="center" (click)="addSkill()"><img class="float-right" style="width: 50%;height: 50%; " src="assets/images/add-icon.png"></button>&nbsp;

            <div *ngFor="let selectedSkill of selectedExperience.skills;let index = index;">
              <div class="skillContent">
                          <input type="text" class="form-control" id="skillContent" name="skillName-{{index}}" placeholder="skill name" [(ngModel)]= "selectedSkill.skillName">&nbsp;&nbsp;
                          <button class=" btn btn-outline-secondary btn-sm" align="center" (click)="deleteSkill(selectedExperience.skills[index])"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/delete-icon.png"></button>
              </div>
            </div>
            <div *ngFor="let addedSkill of addedSkills; let index = index;">
              <div class="skillContent">
                          <input type="text" class="form-control" id="skillContent" name="addedSkillName-{{index}}" placeholder="skill name" [(ngModel)]= "addedSkill.skillName">&nbsp;&nbsp;
                          <button class=" btn btn-outline-secondary btn-sm" align="center" (click)="deleteAddedSkill(addedSkill)"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/delete-icon.png"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color:#FF0000; float: left;" (click)= "deleteExperience(selectedExperience)" *ngIf="!isEmptyExperience">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)= "saveExperience(selectedExperience)">Save</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="user">
  <div class="modal-dialog" role="document" *ngIf="selectedProject">
    <div class="modal-content" *ngIf="selectedProject">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Edit Project Experience</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedProject">
        <div *ngIf="selectedProject.projectName">
          <h5 class="modal-title" style="float:left;">{{selectedProject.projectName}}</h5>
          <br/>
          <br/>
        </div>
        <form *ngIf="selectedProject">
          <div class="form-group">
            <label for="projectName" class="col-form-label">Project Name:</label>
            <input type="text" class="form-control" name="projectName" [(ngModel)]= "selectedProject.projectName">
            <label for="startDate" class="col-form-label">Project Start Date:</label>
            <input type="date" class="form-control" name="startDate" [(ngModel)]= "selectedProject.startDate">
            <label for="endDate" class="col-form-label">Project End Date:</label>
            <input type="date" class="form-control" name="endDate" [(ngModel)]= "selectedProject.endDate">
            <label for="skills" class="col-form-label">Skills:</label>
            <button type="button" class=" btn btn-outline-secondary btn-sm float-right" align="center" (click)="addProjectSkill()"><img class="float-right" style="width: 50%;height: 50%; " src="assets/images/add-icon.png"></button>&nbsp;
            <div *ngFor="let selectedSkill of selectedProject.skills;let index = index;">
              <div class="skillContent">
                          <input type="text" class="form-control" id="skillContent" name="skillName-{{index}}" placeholder="skill name" [(ngModel)]= "selectedSkill.skillName">&nbsp;&nbsp;
                          <button class=" btn btn-outline-secondary btn-sm" align="center" (click)="deleteProjectSkill(selectedProject.skills[index])"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/delete-icon.png"></button>
              </div>
            </div>
            <div *ngFor="let addedSkill of addedSkills; let index = index;">
              <div class="skillContent">
                          <input type="text" class="form-control" id="skillContent" name="addedSkillName-{{index}}" placeholder="skill name" [(ngModel)]= "addedSkill.skillName">&nbsp;&nbsp;
                          <button class=" btn btn-outline-secondary btn-sm" align="center" (click)="deleteAddedProjectSkill(addedSkill)"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/delete-icon.png"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color:#FF0000; float: left;" (click)= "deleteProject(selectedProject)" *ngIf="!isEmptyProject">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)= "saveProject(selectedProject)">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf = "user" data-spy="scroll" data-target="#navbar-example1" data-offset="0">
    <div class="jumbotron">
        <h6 id = "introCard-holder"></h6>
        <div class="row" >
          <!-- Left part-->
          <div class="col-md-6">
            <div class="column" style="float: left;">
              <div *ngIf= "user.image">
	              <img class="center" style=" border-radius: 50%; width: 50%;height: 50%;" src="{{IMAGEDIR  + user.image}}" >
	            </div>

  	          <div *ngIf= "!user.image">
  	              <img class="center" style="border-radius: 50%; width: 50%;height: 50%; " src="assets/images/defaultImage.png">
  	          </div>
              <div class="userName" >
                  {{user.username}}
              </div>
              <div class="tags">
                  <span class="badge badge-pill badge-primary" style="background-color: #5693d2" *ngIf = "user.isMale">Male</span>
                  <span class="badge badge-pill badge-danger" style="background-color: #ef3333" *ngIf = "!user.isMale">Female</span>
                  <span class="badge badge-pill badge-success" style="background-color: #33efaa" *ngIf = "user.newGrads">New Grad</span>
                  <span class="badge badge-pill badge-warning" style="background-color: #efac33" *ngIf = "user.usAuthorization">Legally Work</span>
                  <span class="badge badge-pill badge-info" style="background-color: #efac33" *ngIf = "user.needVisaSponsor">Need Sponsorship</span>
              </div>
            </div>
          </div>
          <!-- Right part-->
          <div class="col-md-6">
            <div class="description">Description</div>
            <hr>
            <div class="userDescription">{{user.description}}</div>
            <ul>
              <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span><a href="mailto:{{user.email}}">{{user.email}}</a></p></li>
              <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><a href="tel:{{user.phone}}">{{user.phone}}</a></p></li>
              <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>{{user.address}}</p></li>
            </ul>
          </div>
          <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editIntroModal"  *ngIf = "isMatched()" style="float: right;"  (click) = "initUploader()"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/edit-icon.png"></button>&nbsp;
        </div>
    </div>

    <div class="education-holder jumbotron" >
      <h6 id="education-holder"></h6>
      <div class="row" >
        <div align="left">
          <div class="lead" align="left">Education</div>
          <div class="modificationButtons" style="float:right;" *ngIf="isMatched()">
            <button type="button" class="btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editEducationModal" (click)="addEducation()">
              <img class="float-left" style="width: 100%; height: 100%;" src="assets/images/add-icon.png">
            </button>&nbsp;
          </div>
          <div class="education" id="first-education" *ngFor="let education of user.educations">
            <hr/>
              <div id="universityName">{{education.universityName}}</div>
              <div class="modificationButtons" style="float:right;" *ngIf="isMatched()">
                <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editEducationModal" (click)="editEducation(education)"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/edit-icon.png"></button>&nbsp;
              </div>
              <div>{{education.startDate}} --- {{education.endDate}}</div>
              <div>Major: {{education.major}}  |  Degree: {{education.degreeType}}  |  GPA: {{education.gpa}}</div>
              <div>
                <div >Core Course:</div>
                <table class="table table-striped">
                    <tr>
                      <th scope="col">Course name</th>
                      <th scope="col">Course code</th>
                      <th scope="col">Course grade</th>
                    </tr>
                      <tr scope="row" *ngFor="let course of education.courses">
                        <td>{{course.courseName}}</td>
                        <td>{{course.courseCode}}</td>
                        <td>{{course.courseGrade}}</td>
                      </tr>
                </table>
                <!-- <div *ngFor="let course of education.courses" style="padding-left: 15px;">    Course name: {{course.courseName}}, Course grade: {{course.courseGrade}}&nbsp;&nbsp; </div> -->
              </div>
              <p *ngIf="education.transcripts"><a style="font-size: medium;" href = "{{ 'http://talents3.com/getTranscripts/' + education.transcripts }}"> Transcript</a></p>   <!-- read transcript -->
            </div>
          </div>
        </div>
    </div>

    <div class="work-experience-holder jumbotron" >
      <div class="row">
        <div align="left">
          <div class= "lead" align="left">Work Experience</div>
          <div class="modificationButtons" style="float:right;" *ngIf="isMatched()">
            <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editExperienceModal" (click)="addExperience()"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/add-icon.png"></button>&nbsp;
          </div>
        </div>
        <div class="work-experience" id="first-education" *ngFor="let experience of user.experiences">
          <hr/>
          <div id="companyName">{{experience.companyName}}</div>
          <div class="modificationButtons" style="float:right;" *ngIf="isMatched()">
            <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editExperienceModal" (click)="editExperience(experience)"><img class="float-left" style=" width: 100%;height: 100%; float:right;" src="assets/images/edit-icon.png"></button>
          </div>
          <div id="experienceTitle">{{experience.title}}</div>

          <div id="experienceStartDate">{{experience.startDate}}</div>&nbsp;
          <div style="display: flex;">
            <div >Core Skills:</div>
            <div *ngFor="let skill of experience.skills" style="padding-left: 15px;"><span class="badge badge-primary" style="background-color: #4842a9">{{skill.skillName}}</span></div>
          </div>

        </div>
     </div>
    </div>

    <div class="project-experience-holder jumbotron" id = "project-holder">
      <div class="row">
        <div align="left">
          <div class= "lead" align="left">Project Experience</div>
          <div class="modificationButtons" style="float:right;" *ngIf="isMatched()">
            <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editProjectModal" (click)="addProject()"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/add-icon.png"></button>&nbsp;
          </div>
        </div>
        <div class="project-experience" id="first-education" *ngFor="let project of user.projects">
          <hr/>
          <div id="projectName">{{project.projectName}}</div>
          <div class="modificationButtons" style="float:right;" *ngIf="isMatched()">
            <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editProjectModal" (click)="editProject(project)"><img class="float-left" style=" width: 100%;height: 100%; float:right;" src="assets/images/edit-icon.png"></button>
          </div>
          <div id="projectStartDate">{{project.startDate}}</div>&nbsp;
          <div id="projectEndDate">{{project.endDate}}</div>&nbsp;
          <div style="display: flex;">
            <div >Core Skills:</div>
            <div *ngFor="let skill of project.skills" style="padding-left: 15px;"><span class="badge badge-primary" style="background-color: #4842a9">{{skill.skillName}}</span></div>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
