
<nav class="floating-menu nav navbar-nav" id="navbar-example1">
  <a class="nav-link list-group-item list-group-item-action" href = "#introCard-holder">Contact</a>
  <a class="nav-link list-group-item list-group-item-action" href = "#education-holder">Education</a>
  <a class="nav-link list-group-item list-group-item-actionm" href = "#experience-holder">Experience
  </a>
  <a class="nav-link list-group-item list-group-item-action" href = "#project-holder"> Project</a>
</nav>


<!-- editIntro modal -->
<div class="modal fade" id="editIntroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Edit Intro Card</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <form  id = "editIntroForm">
          <div class="form-group">
              <div class="row" align="left" *ngIf = "uploader" style="margin: 0px;">
                <input type="file" class = "left" name="photo" ng2FileSelect [uploader]="uploader" />     <!-- upload a image file -->
                <button type="button" class="btn btn-primary" 
                    (click)="uploader.uploadAll()" 
                    [disabled]="!uploader.getNotUploadedItems().length" >
                        Upload Profile Image
                </button>
              </div>
	            <label for="username" class="col-form-label" align = "left">Full Name:</label>
	            <input type="text" class="editIntro form-control" name="username"   [(ngModel)]="editIntroCardData.username">
	            <label for="age" class="col-form-label" align = "right">Age:</label>
	            <input type="text" class="editIntro form-control" name="age" align="right"  [(ngModel)]="editIntroCardData.age">
                <label for="phone" class="col-form-label" align = "left">Phone Number:</label>
	            <input type="text" class="editIntro form-control" name="phone"   [(ngModel)]="editIntroCardData.phone">
          </div>
          <label class="col-form-label" align = "left">Gender</label>
          <select #selectElemIsMale (change)="setIsMale(selectElemIsMale.value)" >
          	  <option>plese select</option>
			  <option [value]="true"> Male</option>
			  <option [value]="false"> Female</option>
		  </select>
		  <label class="col-form-label" align = "left">Are you  a new Grad?</label>
		  <select #selectElemIsNewGrad (change)="setNewGrad(selectElemIsNewGrad.value)" >
		  	  <option>plese select</option>
			  <option [value]="true">New Grad</option>
			  <option [value]="false">No</option>
		  </select>
		  <label class="col-form-label" align = "left">Do You Need Visa Sponsorship?</label>
          <select #selectElem (change)="setVisa(selectElem.value)" >
          	  <option>plese select</option>
			  <option [value]="true">Yes I Do</option>
			  <option [value]="false">No Need</option>
		  </select>

          <div class="form-group">
            <label for="description" class="col-form-label">One Line Description:</label>
            <textarea class="editIntro form-control" name="description"  [(ngModel)]="editIntroCardData.description"></textarea>
          </div>
          <div class="modal-footer">
          	<button type="submit" name = "editEducation" class="btn btn-primary" data-dismiss = "modal" (click) = "editIntroCard()">Submit</button>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div> -->
    </div>
  </div>
</div>



  <!-- now need to start to build the image and contact info division -->

  <!-- Edit Education Modal -->

  <div class="modal fade bd-example-modal-lg" id="editEducationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="user">
    <div class="modal-dialog" role="document" *ngIf="selectedEducation">
      <div class="modal-content" *ngIf="selectedEducation">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel" *ngIf="!isAddingEducation">Edit Education</h3>
          <h3 class="modal-title" id="exampleModalLabel" *ngIf="isAddingEducation">Add Education</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="selectedEducation">
          <div *ngIf="selectedEducation.universityName">
            <h5 class="modal-title" style="float:left;">{{selectedEducation.universityName}}</h5>
            <br/>
            <br/>
          </div>
          <form *ngIf="selectedEducation">
            <div class="form-group">   <!-- transcript upload button -->
              <div class="row" align="left" *ngIf = "transcriptUploader" style="margin: 0px;">
                <input type="file" class = "left" name="transcrpt" ng2FileSelect [uploader]="transcriptUploader" />     <!-- upload a image file -->
                <button type="button" class="btn btn-primary" 
                    (click)="transcriptUploader.uploadAll()" 
                    [disabled]="!transcriptUploader.getNotUploadedItems().length" >
                        Upload Transcript
                </button>
              </div>
              <label for="universityName" class="col-form-label">University Name:</label>
              <input type="text" class="form-control" name="universityName" [(ngModel)]= "selectedEducation.universityName">
              <label for="startDate" class="col-form-label">Start Date:</label>
              <input type="Date" class="form-control" name="startDate" [(ngModel)]= "selectedEducation.startDate">
              <label for="enddate" class="col-form-label">End Date:</label>
              <input type="Date" class="form-control" name="enddate" [(ngModel)]= "selectedEducation.endDate">
              <label for="major" class="col-form-label">Major:</label>
              <input type="text" class="form-control" name="major" [(ngModel)]= "selectedEducation.major">
              <label for="degree" class="col-form-label">Degree Type:</label>
              <input type="text" class="form-control" name="degree" [(ngModel)]= "selectedEducation.degreeType">
              <label for="gpa" class="col-form-label">GPA:</label>
              <input type="number" class="form-control" name="gpa" [(ngModel)]= "selectedEducation.gpa">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color:#FF0000; float: left;" (click)= "deleteEducation(selectedEducation)" *ngIf="!isAddingEducation">Delete</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)= "saveEducation(selectedEducation)">Save</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="editExperienceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="user">
  <div class="modal-dialog" role="document" *ngIf="selectedExperience">
    <div class="modal-content" *ngIf="selectedExperience">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Edit Experience</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedExperience">
        <div *ngIf="selectedExperience.companyName">
          <h5 class="modal-title" style="float:left;">{{selectedExperience.companyName}}</h5>
          <br/>
          <br/>
        </div>
        <form *ngIf="selectedExperience">
          <div class="form-group">
            <label for="companyName" class="col-form-label">Company Name:</label>
            <input type="text" class="form-control" name="companyName" [(ngModel)]= "selectedExperience.companyName">
            <label for="startDate" class="col-form-label">Start Date:</label>
            <input type="Date" class="form-control" name="startDate" [(ngModel)]= "selectedExperience.startDate">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" name="title" [(ngModel)]= "selectedExperience.title">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color:#FF0000; float: left;" (click)= "deleteExperience(selectedExperience)" *ngIf="!isEmptyExperience">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)= "saveExperience(selectedExperience)">Save</button>
      </div>
    </div>
  </div>
</div>



<div class="container" *ngIf = "user" data-spy="scroll" data-target="#navbar-example1" data-offset="0">
    <div class="jumbotron"  >
        <h6 id = "introCard-holder"></h6>
        <div class="row" >
          <!-- Left part-->
          <div class="col-md-6">
            <div class="column" align="center" style="float: left;">
              <div *ngIf= "user.image">
	              <img class="float-left" style=" border-radius: 50%; width: 50%;height: 50%;" src="{{IMAGEDIR  + user.image}}" >
	            </div>
	          <div *ngIf= "!user.image">
	              <img class="float-left" style=" border-radius: 50%; width: 50%;height: 50%; " src="assets/images/defaultImage.png">
	          </div>
              <div class="lead" align="center">{{user.username}}</div>
              <div align="center">
                <div>
                  <h5 align="center">{{user.adress}}</h5>
                  <div align="center">
                    <a href="mailto:{{user.email}}">Email: {{user.email}}</a>
                  </div>
                    <div align="center">
                  <a href="tel:{{user.phone}}" align="center"> Tel: {{user.phone}}</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Right part-->
          <div class="col-md-6 " >
            <div class="userDescription" align="center" style="font-weight: bold; font-size: large;">{{user.description}}</div>
            <div class="column info" align="center">
              <!-- Personal education and working Experience display-->


                <div class="container" align="left">
                  <button class="list-group-item info-group-item " align="left">
                      <img class="icon rounded float-left" id="icon-element" src="assets/images/education-icon.png">
                      <div id="detail-element">New York University</div>
                  </button>
                  <button class="list-group-item info-group-item" align="left">
                      <img class="icon rounded float-left" id="icon-element" src="assets/images/work-icon.png">
                      <div id="detail-element">Amazon Ltd.</div>
                  </button>
                <!--   <button class="list-group-item info-group-item row" align="center">
                      <img class="icon rounded float-left" id="icon-element" src="assets/images/blog-icon.png">
                      <div id="detail-element">Blogs</div>
                  </button> -->
                </div>

              <!-- Tag area -->
              <div class="container tags-area" align="left">
                <div align="left">
                  <div class= "lead" style="display: inline-block;" align="left" style="font-weight: bold; color: purple">Tags</div>&nbsp;

                </div>
                <div class="tags-holder" align="left" >

                    <button type="button" disabled class="btn btn-outline-primary btn-sm" align="left" *ngIf = "user.isMale" style="background-color:yellow; padding-left: 20px;" >Male</button>&nbsp;


                    <button type="button" disabled class="btn btn-outline-primary btn-sm" align="left" style="background-color:red;padding-left: 20px;" *ngIf = "!user.isMale" >Female</button>&nbsp;

                    <button type="button" disabled class="btn btn-outline-primary btn-sm " align="left" *ngIf = "user.needVisaSponsor" style="background-color: #ff1a1a;padding-left: 20px; " >Need Sponsorship</button>&nbsp;

                    <button type="button" disabled class="btn btn-outline-primary btn-sm" align="left" *ngIf = "user.usAuthorization" style="background-color: #ffbf00;padding-left: 20px; " >Legally Work</button>&nbsp;
                    <button type="button" disabled class="btn btn-outline-primary btn-sm" align="left" *ngIf = "user.newGrads" style="background-color: #00ff00; padding-left: 20px;" >New Grad</button>
                </div>

              </div>
            </div>
          </div>
          <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editIntroModal"  *ngIf = "isMatched()" style="float: right;"  (click) = "initUploader()"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/edit-icon.png"></button>&nbsp;
        </div>
    </div>

    <div class="education-holder jumbotron" >
      <h6 id="education-holder"></h6>
      <div class="row" >
        <div align="left">
          <div class="lead" align="left">Education</div>
          <div class="modificationButtons" style="float:right;" *ngIf="isMatched()">
            <button type="button" class="btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editEducationModal" (click)="addEducation()">
              <img class="float-left" style="width: 100%; height: 100%;" src="assets/images/add-icon.png">
            </button>&nbsp;
          </div>
          <div class="education" id="first-education" *ngFor="let education of user.educations">
            <hr/>
              <div id="universityName">{{education.universityName}}</div>
              <div class="modificationButtons" style="float:right;" *ngIf="isMatched()">
                <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editEducationModal" (click)="editEducation(education)"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/edit-icon.png"></button>&nbsp;
              </div>
              <div>{{education.startDate}} --- {{education.endDate}}</div>
              <div>Major: {{education.major}}  |  Degree: {{education.degreeType}}  |  GPA: {{education.gpa}}</div>
              <div style="display: flex;">
                <div >Core Course:</div>
                <div *ngFor="let course of education.courses" style="padding-left: 15px;"> {{course.courseName}} {{course.courseGrade}}</div>
              </div>
              <p *ngIf="education.transcripts"><a style="font-size: medium;" href = "{{ 'http://talents3.com/getTranscripts/' + education.transcripts }}"> Transcript</a></p>   <!-- read transcript -->
            </div>
          </div>
        </div>
    </div>

    <div class="work-experience-holder jumbotron" >
      <h6 id = "experience-holder" ></h6>
      <div class="row">
        <div align="left">
          <div class= "lead" align="left">Work Experience</div>
          <div class="modificationButtons" style="float:right;" *ngIf="isMatched()">
            <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editExperienceModal" (click)="addExperience(experience)"><img class="float-left" style="width: 100%;height: 100%; " src="assets/images/add-icon.png"></button>&nbsp;
          </div>
        </div>
        <div class="work-experience" id="first-education" *ngFor="let experience of user.experiences">
          <hr/>
          <div id="companyName">{{experience.companyName}}</div>
          <div class="modificationButtons" style="float:right;" *ngIf="isMatched()">
            <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" data-toggle="modal" data-target="#editExperienceModal" (click)="editExperience(experience)"><img class="float-left" style=" width: 100%;height: 100%; float:right;" src="assets/images/edit-icon.png"></button>
          </div>
          <div id="experienceTitle">{{experience.title}}</div>
          <div id="experienceStartDate">{{experience.startDate}}</div>&nbsp;
        </div>
     </div>
    </div>

    <div class="project-experience-holder jumbotron" id = "project-holder">
      <div class="row">
        <div align="left">
          <div class= "lead" align="left">Project Experience</div>
          <div class="modificationButtons" style="float:right;">
            <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" *ngIf = "isMatched()">add</button>&nbsp;
            <button type="button" class=" btn btn-outline-secondary btn-sm" align="center" *ngIf = "isMatched()">edit</button>
          </div>
        </div>
        <!-- TODO:  -->
        <div id="first-education">
          <div class="lead">Alpha-Go Development</div>
          <div>AI Developer</div>
          <div>August 2016 - August 2017  1 year</div>
        </div>
        <hr/>
      </div>
    </div>
</div>
