
#icon-element {
  display:inline-block;
  width: 5%;
  margin-left:0px;
}
#detail-element {
  display:inline-block;
  width: 90%;
  padding-left: 20px;
  margin-right: 0px;
}

#edit {
  white-space: nowrap;
  display:inline-block;
}
#experience {
  margin-top: 20px;
}
#companyName {
  font-size: 20px;
}
#universityName {
  font-size: 20px;
}

.sticky {
  top: 0;
  width: 100%
}

.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.openBtn:hover {
    background: #bbb;
}

/*.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 70;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.modal-overlay {

   recommendation:
     don't focus on the number "1000" here, but rather,
     you should have a documented system for z-index and
     follow that system. This number should be pretty
     high on the scale in that system.


  background-color: yellow;
  opacity: 0.7;
  visibility: blur(10px);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
*/



/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 30px;
}
.floating-menu {
  padding: 0px;
  width: 130px;
  z-index: 50;
  position: fixed;
}
.img-responsive {
  border-radius:50%;
  width: 40%;
  height: 40%;
}
.menu-group-item {

}
.info-group-item {
  white-space: nowrap;
  background-color: transparent;
  border: none;
}
.info {
  margin-top: 30px;
}
.icon {
  width: 5%;
}

.jumbotron {
  background-color: #edfbff;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0.8;

}
.row {
  margin-right: 1%;
  margin-left:  1%;
}
.btn-outline-primary {
  border-color: #57068c;
  background-color: transparent;
}
.btn-outline-secondary {
  display: inline-block;
  width: 50px;
  background-color: transparent;
}

.education-holder {
  border: none;
}
.education {
  background-color: transparent;
  border: none;
}
.work-experience {
  border: none;
}
.project {
  border: none;
}
.lead {
  display: inline-block;
  font-weight: bold;
  color: purple;
}
.modal-title {
  font-size: 20px;
}

body {
    background-image: url('/assets/images/beach.jpg');
    background-size: cover;
}

ul {
    list-style-type: none;
    margin-top: 10%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 14px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.userName {
    display: block;
    text-overflow: ellipsis;
    text-align:center;
    font-size: 21px;
    margin-top: 5%
}

.tags {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.userDescription {
    text-align: center;
    text-overflow: ellipsis;
    margin-top: 5%;
    font-size: 15px;
    line-height: 2.5ex;
    height: 7.5ex;
    overflow: scroll;
    font-family: cursive;
}

.description {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    font-family: monospace;
}
