body {
  margin-bottom: 0px;
}
.navbar {
  background-color: #57068c;
  margin-bottom: 1px;
  border-radius: 0px;
}

a.navbar-brand {
    color: #ffff;
    font-family: "Comic Sans MS", cursive, sans-serif
}
