
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="!isSearchInputValid">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Please don't put '/' into Search Input !
</div>
<div class="container" style="padding-top:3%; padding-left: 3%;padding-right: 3%;">
	 <div class="row searchFilter"  >
         <div class="col-sm-12" >
          <div class="input-group" >
           <input id="table_filter" type="text" class="form-control"  placeholder= "Search" aria-label="Text input with segmented button dropdown" (keyup)="checkSearchInputValid()" [(ngModel)] = "searchTerm">
           <div class="input-group-btn" >
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="label-icon" >{{searchType}} &nbsp;</span> <span class="caret" >&nbsp;</span></button>
            <div class="dropdown-menu dropdown-menu-right" >
               <ul class="category_filters" >
                <li >
                 <input type="radio" name="radios" id="People" (click)="setSearchType('People')" ><label class="category-label" for="People" >People</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Experience" (click)="setSearchType('Experience')" ><label class="category-label" for="Experience" >Experience</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Education" (click)="setSearchType('Education')" ><label class="category-label" for="Programming" >Education</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Skill" (click)="setSearchType('Skill')" ><label class="category-label" for="Skill" >Skill</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Project" (click)="setSearchType('Project')" ><label class="category-label" for="Support" >Project</label>
                </li>
               </ul>
            </div>
            <button id="searchBtn" type="button" class="btn btn-secondary btn-search" [disabled]="!isSearchInputValid" (click) = "getSearchUsers()" ><span class="glyphicon glyphicon-search" >&nbsp;</span> <span class="label-icon" >Search</span></button>
           </div>
          </div>
         </div>
      </div>
</div>

<br/>

<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="isSearchResultEmpty">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Search Results No found
</div>

<div class="container" style="padding-left: 8%; padding-top: 5%; padding-right: 8%;">
   <div class="row text-center" style="display:flex; flex-wrap: wrap;">


		<div *ngIf="!isSearchMode">
	    <div class="col-lg-3 col-sm-6" *ngFor="let user of users" [routerLink]="['/users', user.id]">
	    	<div class="thumbnail">
	        <div class="card hovercard">
						<div class="cardheader"></div>
						<div class="avatar">
							<ng-container *ngIf="user.image; then userImage; else defaultImage"></ng-container>
							<ng-template #userImage>
		  					<img src="{{'http://talents3.com/api/v1/getImages/' + user.image}}" alt="">
							</ng-template>
							<ng-template #defaultImage>
								<img src="assets/images/defaultImage.png">
							</ng-template>
						</div>

				  	<div class="info">
							<div class="title">{{user.username}}</div>
							  <h5 *ngIf="user.description; then userDescription; else defaultDescription" class="card-title">{{user.username}}</h5>
								<ng-template #userDescription>
									<div class="desc">{{user.description}}</div>
								</ng-template>
								<ng-template #defaultDescription>
									<div class="desc">Description</div>
								</ng-template>

								<ng-container *ngIf="user.experience; then userExperience; else defaultExperience"></ng-container>
								<ng-template #userExperience>
				    			<div class="eduexp" *ngFor="let experience of user.experience | slice:0:1; let i = index"> {{experience.companyName}}</div>
								</ng-template>
								<ng-template #defaultExperience>
				    			<div class="eduexp"> Experience</div>
								</ng-template>

								<ng-container *ngIf="user.education; then userEducation; else defaultEducation"></ng-container>
								<ng-template #userEducation>
				    			<div class="eduexp"  *ngFor="let education of user.education | slice:0:1; let i = index" > {{education.universityName}}</div>
								</ng-template>
								<ng-template #defaultEducation>
				    			<div class="eduexp">Education</div>
								</ng-template>
				  	</div>
			    </div>
	      </div>
	    </div>
		</div>


		<div *ngIf="isSearchMode">
			<div class="col-lg-3 col-sm-6" *ngFor="let user of searchUsers" [routerLink]="['/users', user.id]">
	    	<div class="thumbnail">
	        <div class="card hovercard">
						<div class="cardheader"></div>
						<div class="avatar">
							<ng-container *ngIf="user.image; then userImage; else defaultImage"></ng-container>
							<ng-template #userImage>
		  					<img src="{{'http://talents3.com/api/v1/getImages/' + user.image}}" alt="">
							</ng-template>
							<ng-template #defaultImage>
								<img src="assets/images/defaultImage.png">
							</ng-template>
						</div>

				  	<div class="info">
							<div class="title">{{user.username}}</div>
							  <h5 *ngIf="user.description; then userDescription; else defaultDescription" class="card-title">{{user.username}}</h5>
								<ng-template #userDescription>
									<div class="desc">{{user.description}}</div>
								</ng-template>
								<ng-template #defaultDescription>
									<div class="desc">Description</div>
								</ng-template>

								<ng-container *ngIf="user.experience; then userExperience; else defaultExperience"></ng-container>
								<ng-template #userExperience>
				    			<div class="eduexp" *ngFor="let experience of user.experience | slice:0:1; let i = index"> {{experience.companyName}}</div>
								</ng-template>
								<ng-template #defaultExperience>
				    			<div class="eduexp"> Experience</div>
								</ng-template>

								<ng-container *ngIf="user.education; then userEducation; else defaultEducation"></ng-container>
								<ng-template #userEducation>
				    			<div class="eduexp"  *ngFor="let education of user.education | slice:0:1; let i = index" > {{education.universityName}}</div>
								</ng-template>
								<ng-template #defaultEducation>
				    			<div class="eduexp">Education</div>
								</ng-template>
				  	</div>
			    </div>
	      </div>
	    </div>
   </div>
