
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<div class="container" style="padding-top:3%; padding-left: 3%;padding-right: 3%;">
	 <div class="row searchFilter"  >
         <div class="col-sm-12" >
          <div class="input-group" >
           <input id="table_filter" type="text" class="form-control"  placeholder= "Search" aria-label="Text input with segmented button dropdown" >
           <div class="input-group-btn" >
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="label-icon" >Category</span> <span class="caret" >&nbsp;</span></button>
            <div class="dropdown-menu dropdown-menu-right" >
               <ul class="category_filters" >
                <li >
                 <input class="cat_type category-input" data-label="All" id="all" value="" name="radios" type="radio" ><label for="all" >All</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Design" value="Design" ><label class="category-label" for="Design" >People</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Marketing" value="Marketing" ><label class="category-label" for="Marketing" >Experience</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Programming" value="Programming" ><label class="category-label" for="Programming" >Education</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Sales" value="Sales" ><label class="category-label" for="Sales" >Skill</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Support" value="Support" ><label class="category-label" for="Support" >Project</label>
                </li>
               </ul>
            </div>
            <button id="searchBtn" type="button" class="btn btn-secondary btn-search" ><span class="glyphicon glyphicon-search" >&nbsp;</span> <span class="label-icon" >Search</span></button>
           </div>
          </div>
         </div>
      </div>
</div>

   <div class="container" style="padding-left: 8%; padding-top: 5%; padding-right: 8%;">
   <div class="row text-center" style="display:flex; flex-wrap: wrap;">





    <div class="col-md-3 col-sm-6" *ngFor="let user of users">
    	<div class="thumbnail">
        <div class="card">
					<ng-container *ngIf="user.image; then userImage; else defaultImage"></ng-container>
					<ng-template #userImage>
  					<img class="card-img-top" src="{{user.image}}" alt="Card image cap">
					</ng-template>
					<ng-template #defaultImage>
						<img class="card-img-top" src="assets/images/defaultImage.png">
					</ng-template>

			  	<div class="card-body">
						<p class="card-text">{{user.username}}</p>
			    	<h5 *ngIf="user.description; then userDescription; else defaultDescription" class="card-title">{{user.username}}</h5>
							<ng-template #userDescription>
								<p class="card-text">{{user.description}}</p>
							</ng-template>
							<ng-template #defaultDescription>
								<p class="card-text">Description</p>
							</ng-template>
			    	<ul class="list-group">
							<ng-container *ngIf="user.experience; then userExperience; else defaultExperience"></ng-container>
							<ng-template #userExperience>
			    			<li  *ngFor="let experience of user.experience | slice:0:1; let i = index" class="list-group-item"> {{experience.companyName}}</li>
							</ng-template>
							<ng-template #defaultExperience>
			    			<li  class="list-group-item">Experience</li>
							</ng-template>

							<ng-container *ngIf="user.education; then userEducation; else defaultEducation"></ng-container>
							<ng-template #userEducation>
			    			<li  *ngFor="let education of user.education | slice:0:1; let i = index" class="list-group-item"> {{education.universityName}}</li>
							</ng-template>
							<ng-template #defaultEducation>
			    			<li  class="list-group-item">Education</li>
							</ng-template>
			    	</ul>
			    	<a [routerLink]="['/users', user.id]" class="btn btn-primary" >Profile</a>
			  	</div>

		    </div>



<!--
	        <h4 align="left"> {{user.username}}</h4>
	        <div class="row">
	            <div class = "col align-self-start"  >
	            	<img src="{{user.image}}"  >
	            </div>
	            <div  class="col align-self-start">
	            	<li  *ngFor="let experience of user.experience"> {{experience.companyName}} : {{experience.title}}</li>
	            </div>
	        </div>
		    <a   [routerLink]="['/users', user.id]">
		      <strong class="title">Profile</strong>
		    </a> -->
        </div>
    </div>
  </div>
</div>
