<div>
    <form #formRef = "ngForm">
      <div class="form-group">
        <label for="userName">User name</label>
        <input name = "userName" id="userName" class="form-control"
          type="text" required placeholder="Please enter your name"
          [(ngModel)] = "newUser.name">
      </div>
      <div class="form-group">
        <label for="userEducation">education</label>
        <textarea name = "userEducation" id="userEducation" class="form-control"
         placeholder="Please enter your education"
          [(ngModel)] = "newUser.education" rows="2">
        </textarea>
      </div>
      <div class="form-group">
        <label for="userBlog">blog</label>
        <textarea name = "userBlog" id="userBlog" class="form-control"
         placeholder="Please enter your blog"
          [(ngModel)] = "newUser.blog" rows="2">
        </textarea>
      </div>
      <div class="row">
        <div class = "col-md-12">
          <button type="submit" class="btn btn-primary pull-right"
            (click) = "addUser()"
          > Add profile </button>
        </div>
      </div>
    </form>
  </div>
